
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

.popular-bg{
    background: linear-gradient(to bottom, #FF6F48, #F02AA6);
    text-align: start;
    color: white;
}

.button {
    background-color: #13183F;
    border: none;
    color: white;
    padding: 24px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  .button-gradient1 {
    background: linear-gradient(to bottom, #FF6F48, #F02AA6);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
  }


  .button-gradient2 {
    background: linear-gradient(to bottom, #4851FF, #F02AA6);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
 